body{
    background-size: cover;

}
header {
    height: 170px;
    padding-top: 10px;
    color: white;
    background-color: rgb(11, 21, 83);
    
}
nav{
    height: 70px;
    text-align: right;
    margin-top: 30px;
}
nav a{
    width: 80px;
    background: #fff;
    color: rgb(226, 59, 184);
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    padding: 10 px;
    border: 8px solid white;   
    border-radius: 10px;
}





.projectcard{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projectcard:hover.projetimage{
    opacity: 0.8;
}
.projetimage img{
    width: 100%;
}
.projectcard2{ background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease; margin-left: 450px;
    margin-top: -350px;

}
.projectcard3{ background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    margin-left: 875px; margin-top: -350px;

}
.appmobile{
    height: 230px;
}
.projet_info{
    padding:1em;
}
.pojet_category{
    font-size: 0.8em;
    color:#000;

}

.projet_title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
}
#stage{  font-size: 30px; text-decoration: none;
    color: black;
    background-color: rgb(106, 109, 109);
    border-radius: 10%;
    border: 2px solid black;
   
}
.titre{
    font-size: 30px;
    text-decoration: none;
    color: #13c3ba;
}